body {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav-bar {
    /* border: 1px solid red; */
    background-color: white;
    display: flex;
    position: fixed;
    width: 98.8%;
    top: 0;
}

#nav-links {
  /* border: 1px solid purple; */
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

      .nav-link {
        padding-right: 5vh;
        padding-left: 5vh;
      }

      a {
        text-decoration: none;
        font-weight: bolder;
        color: inherit;
        text-transform: 
    }
      
      a:hover {
        text-decoration: underline;
     
    }


#nav-logos {
  /* border: 1px solid olivedrab; */
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}

#nav-logo {
    /* border: 1px solid blue; */
    justify-content: right;
}