#nav-bar {
    border: 1px solid red;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    background-color: white;
}

li {
    list-style: none;
    padding-right: 2vh;
    display: inline-block;
    
  }



#nav-logo {
    border: 1px solid red;
    width: 155px;
    height: 150px;
    margin-left: 160vh;
}

  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }

